:root {
  --ifm-color-primary: #157347;
  --ifm-color-primary-dark: #12663e;
  --ifm-color-primary-darker: #105d39;
  --ifm-color-primary-darkest: #0d4d2f;
  --ifm-color-primary-light: #188050;
  --ifm-color-primary-lighter: #19895a;
  --ifm-color-primary-lightest: #1da46b;
}
